@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .huevo {
        width: 100%;
        height: 100%;
        background-color: #4A1D96;
        -moz-border-radius: 99% 99% 99% 99% / 1% 1% 1% 1%;
        -webkit-border-radius: 99% 99% 99% 99% / 1% 1% 1% 1%;
        border-radius: 98.5% 98.5% / 1.5% 1.5%;
        
    }

    .card-style {
       
        border-bottom-right-radius: 10rem; /* 2px */
        border-top-left-radius: 10rem; /* 2px */
        border-bottom-left-radius: 1rem; /* 2px */
        border-top-right-radius: 1rem; /* 2px */
    }

    .card-btn-style {
    
        border-bottom-right-radius: 0.5rem; /* 2px */
        border-top-left-radius: 0.5rem; /* 2px */
        border-bottom-left-radius: 2rem; /* 2px */
        border-top-right-radius: 2rem; /* 2px */
    

    }

    .card-style-rev {
        border-bottom-right-radius: 1rem; /* 2px */
        border-top-left-radius: 1rem; /* 2px */
        border-bottom-left-radius: 10rem; /* 2px */
        border-top-right-radius: 10rem; /* 2px */
        
        
    }

    .card-btn-style-rev {
        border-bottom-right-radius: 2rem; /* 2px */
        border-top-left-radius: 2rem; /* 2px */
        border-bottom-left-radius: 0.5rem; /* 2px */
        border-top-right-radius: 0.5rem; /* 2px */   
    
        
    
 
    }

    .card {
        width: 100%;
        max-width: 100%;
        height: 45rem;
        max-height: 45rem;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    .card-ofi-molde {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    .card-ofi-1-molde {
        border-radius: 72% 28% 44% 56% / 53% 57% 43% 47% 
    }

    .card-ofi-molde-rev {
        border-radius: 70% 30% 30% 70% / 30% 30% 70% 70%;
    }

    .card-ofi-l {
        background-size: cover;
        border-color: white;
        border-left-width: 0.5px;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    .card-ofi-b {
        transform: translateY(60rem);
        background-size: cover;
        border-color: white;
        border-bottom-width: 0.5px;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    .card-ofi-r {
        transform: translateY(30rem);
        background-size: cover;
        border-color: white;
        border-right-width: 0.5px;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    .card-ofi-r-no {
        
        background-size: cover;
        border-color: white;
        border-right-width: 0.5px;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    .card-ofi-t {
        transform: translateY(30rem);
        background-size: cover;
        border-color: white;
        border-top-width: 0.5px;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    .card-reverse {
        width: 100%;
        max-width: 100%;
        height: 45rem;
        max-height: 45rem;
        border-radius: 70% 30% 30% 70% / 30% 30% 70% 70%;
    }

    .card-btn {
        width: 50%;
        height: 50%;
        max-height: 100%;
        max-width: 100%;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    .card-btn-reverse {
        width: 50%;
        height: 50%;
        max-height: 100%;
        max-width: 100%;
        border-radius: 70% 30% 30% 70% / 30% 30% 70% 70%;
    
    }

    .md-btn {
        width: 50%;
    }

    .contenedor {
        width: 95%;
        max-width: 120rem;
        margin: 0 auto;
    }

    .contenedor-60 {
        width: 60%;
        display:flex;
        flex-direction: column;
        max-width: 120rem;
        margin: 0 auto;
    }

    .contenedor-flex-60 {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items:center;
        max-width: 120rem;
        margin: 0 auto;
    }

    .contenedor-flex-col {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .contenedor-flex-col-rev {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .contenedor-flex {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
    }

    .contenedor-flex-90 {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    .contenedor-flex-c {
        display: flex;
        gap: 2rem;
        justify-content: space-evenly;
        align-items: center;
    }

    .contenedor-flex-c-reverse {
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    .nocontenedor {
        width: 100%;
    }

    .iconos {
       display:flex;
       justify-content: center;
       font-size: 10rem;
       width: 100%;
       height: 100%;
       padding: 0;
       margin: 0;
       color: #4A1D96;
       
    }

    .bg-sNosotros {
        background: rgb(156,163,175);
        background: radial-gradient(circle, rgba(156,163,175,0.6362920168067228) 0%, rgba(74,29,150,0.19931722689075626) 100%);
    }

    .titulo {
        color: #4A1D96;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    .tituloBorder {
        --tw-border-opacity: 1;
        border-color: rgb(74 29 150 / var(--tw-border-opacity));
        border-bottom-width: 4px;
        
    }
    


    
}